<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Readme電子書</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script src="~/Scripts/vue.global.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @*@Html.ActionLink("應用程式名稱", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <!--<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="切換導覽" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("首頁", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("關於", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("連絡人", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>-->
    <nav nav class="navbar navbar-expand-sm fixed-top bg-light">
        <div class="container d-flex" style="height: 50px;">
            <a class="navbar-brand" href="#"><img src="~/image/readme-high-resolution-logo-transparent.png" alt="" class="img-fluid" style="height: 50px; object-fit: contain;"></a>

            <div class="d-flex ms-2 flex-grow-1">
                <form class="d-flex row w-100" role="search">
                    <input class="form-control col" type="search" placeholder="Search" aria-label="Search" style="width: 400px;">
                    <button type="button" class="btn col-auto">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <form class="d-flex ms-auto">
                <a href="@Url.Action("Cart", "Members", new { area = "" })" class="ms-3"><i class="fa-solid fa-cart-plus picture" style="color: #1D597D; vertical-align: middle;"></i></a>
                <a href="@Url.Action("Wishlist", "Members", new { area = "" })" class="ms-3"><i class="fa-solid fa-heart picture" style="color: red; vertical-align: middle;"></i></a>
                <a href="@Url.Action("Login", "Members", new { area = "" })" class="ms-3 btn btn-sm btn-outline-primary newline">登入</a>
                <a href="@Url.Action("Register", "Members", new { area = "" })" class="ms-2 btn btn-sm btn-outline-danger newline">註冊</a>
                <a href="@Url.Action("Index", "Members", new { area = "" })" class="ms-2 btn btn-sm btn-outline-secondary newline"><i class="fa-solid fa-user"></i></a>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Readme電子書</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
