@using ReadMe_Front.Models.ViewModels
@model CategoryVm

@{
    ViewBag.Title = "Index";
}
<style>
    .maincat a {
        font-size: 18px;
    }

    .subcat a {
        padding-left: 2rem;
    }

    .list-group-item a {
        text-decoration: none;
        color: black;
    }

    .list-group ul {
        margin: 0;
    }

    .card-title {
        line-height: 1.5; /* 行高，設置為字體大小的 1.5 倍 */
        font-size: 15px; /* 字體大小 */
        height: calc(1.5em * 2); /* 高度為兩行 */
        overflow: hidden; /* 隱藏溢出的部分 */
        text-overflow: ellipsis; /* 顯示省略號 */
        display: -webkit-box; /* 需要 Webkit 支援 */
        -webkit-line-clamp: 2; /* 限制顯示兩行 */
        -webkit-box-orient: vertical; /* 垂直排列子元素 */
    }

    .card-img-top {
        width: 100%; /* 設定圖片的寬度與父容器一致 */
        height: 200px; /* 固定高度 */
        object-fit: cover; /* 圖片裁切填滿容器，保持比例 */
    }
    .card-body a {
        text-decoration: none;
        color: black;
    }
</style>

<!-- Context Start -->
<div class="container" style="margin-top:100px;">
    <!-- 麵包屑--start -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home">首頁</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">全站分類</li>
        </ol>
    </nav>
    <!-- 麵包屑--end -->
    <h4 itemprop="name">全站分類</h4>
    <div class="row">
        <div class="list-group list-group-flush col-2 category-sidebar">
            @foreach (var categoryGroup in Model.GroupCategory)
            {
                <ul>
                    <li class="list-group-item list-group-item-action maincat"><a href="#">@categoryGroup.ParentCategoryName</a></li>
                    <!-- 顯示子類別，分割CategoryName並逐一顯示 -->
                    @foreach (var subCategory in categoryGroup.CategoryName.Split(','))
                    {
                        <li class="list-group-item list-group-item-action subcat">
                            <a href="#">@subCategory.Trim()</a> <!-- Trim() 去除多餘的空白 -->
                        </li>
                    }
                </ul>
            }
        </div>
        <!-- Cart start -->
        <div class="cart col-10">
            @foreach (var itemGroup in Model.GroupProduct)
            {
                <div class=" row justify-content-center">
                    <div class="row">
                        <h4 class="col-11">@itemGroup.ParentCategoryName</h4>
                        <a href="/Category/ParentCategory/@itemGroup.ParentCategoryName" class="btn btn-light btn-sm col-auto">More></a>
                    </div>
                    @foreach (var item in itemGroup.Products.Take(5))
                    {
                        <div class="card border-0 col-auto m-1" style="width: 11rem;">
                            <div class="card-img">
                                <a href="~/Products/ProductDetail/@item.Id">
                                    <img src="@item.ImageURL" class="card-img-top img-fluid" alt="...">
                                </a>
                            </div>                            
                            <div class="card-body">
                                <a href="~/Products/ProductDetail/@item.Id">
                                    <h5 class="card-title text-center">@item.Title</h5>
                                </a>
                                <p class="card-text text-center">$ @item.Price</p>
                                @*<a href="~/Products/ProductDetail/@item.Id" class="btn btn-primary d-block mx-auto">購買</a>*@
                            </div>
                        </div>                        
                    }
                </div>
                <hr>
            }
        </div>
        <!-- Cart end -->
    </div>
</div>
<!-- Context End -->
