@model IEnumerable<ReadMe_Back.Models.ViewModels.ProductVm>

@{
    ViewData["Title"] = "Index";
}

<h1 class="ms-4 mt-4">商品管理</h1>

<!DOCTYPE html>
<html lang="en">

<body class="sb-nav-fixed">
    <main>
        <div class="container-fluid px-4">
            <!-- editModal -->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="/" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">編輯商品</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                    <label for="exampleFormControlInput1" class="form-label">書名</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    <label for="exampleFormControlInput1" class="form-label">作者</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    <label for="exampleFormControlInput1" class="form-label">出版社</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    <label for="exampleFormControlInput1" class="form-label">售價</label>
                                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    <label for="exampleFormControlInput1" class="form-label">簡介</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    <label for="exampleFormControlInput1" class="form-label">分類</label>
                                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                                        <datalist id="datalistOptions">
                                            <option value="分類1"></option>
                                            <option value="分類2"></option>
                                            <option value="分類3"></option>
                                        </datalist>
                                    <label for="exampleFormControlInput1" class="form-label">'出版日'</label>
                                    <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    <label for="exampleFormControlInput1" class="form-label">圖片檔名</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="xxx.jpg">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary btnEdit">修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--deleteModal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="/" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">刪除商品</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h2>確認刪除此商品嗎?</h2>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary btnDelete">確認</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--createModal -->
            <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="/" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">新增商品</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="exampleFormControlInput1" class="form-label">書名</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                <label for="exampleFormControlInput1" class="form-label">作者</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                <label for="exampleFormControlInput1" class="form-label">出版社</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                                <label for="exampleFormControlInput1" class="form-label">售價</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
                                <label for="exampleFormControlInput1" class="form-label">簡介</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                <label for="exampleFormControlInput1" class="form-label">分類</label>
                                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                                <datalist id="datalistOptions">
                                    <option value="分類1"></option>
                                    <option value="分類2"></option>
                                    <option value="分類3"></option>
                                </datalist>
                                <label for="exampleFormControlInput1" class="form-label">'出版日'</label>
                                <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="">
                                <label for="exampleFormControlInput1" class="form-label">圖片檔名</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="xxx.jpg">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary btnEdit">新增</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createModal">新增商品</button>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Publisher</th>
                                <th>Price</th>
                                <th>PublishDate</th>
                                <th>ImageURL</th>
                                <th>CategoryName</th>
                                <th>ParentCategoryName</th>
                                <th>Function</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Publisher</th>
                                <th>Price</th>
                                <th>PublishDate</th>
                                <th>ImageURL</th>
                                <th>CategoryName</th>
                                <th>ParentCategoryName</th>
                                <th>Function</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach(var item in Model){
                                <tr>                                    
                                    <th scope="row">@item.Id</th>
                                    <td>@item.Title</td>
                                    <td>@item.Author</td>
                                    <td>@item.Publisher</td>
                                    <td>@item.Price</td>
                                    <td>@item.PublishDate</td>
                                    <td>@item.ImageURL</td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.ParentCategoryName</td>
                                    <td>
                                        <a class="btn btn-outline-info me-2" onclick="EditForm(@item.Id)" id="editForm">編輯</a>
                                        <a class="btn btn-outline-danger" onclick="Delete(@item.Id)" id="editForm">刪除</a>
                                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#editModal">編輯</button>
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">刪除</button>
                                    </td>
                                </tr>
                            }                            
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/js/datatables-simple-demo.js"></script>
<script>
        var EditForm = function(id){
            $.ajax({
                type: "POST",
                url: "/Products/GetProduct",
                data: {id:id},
                success: function(){
                    $("#editModal").modal('show');
                }
            })
        }
</script>
</body>
</html>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentCategoryName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishDate)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.ImageURL)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.ParentCategoryName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>