@using ReadMe_Front.Models.Repositories
@model Paged<ReadMe_Front.Models.DTOs.CategoryDto>

@{
    ViewBag.Title = "Result";

}

<style>
    a {
        text-decoration: none;
        color: black;
    }

    .card-title {
        line-height: 1.5; /* 行高，設置為字體大小的 1.5 倍 */
        font-size: 15px; /* 字體大小 */
        height: calc(1.5em * 2); /* 高度為兩行 */
        overflow: hidden; /* 隱藏溢出的部分 */
        text-overflow: ellipsis; /* 顯示省略號 */
        display: -webkit-box; /* 需要 Webkit 支援 */
        -webkit-line-clamp: 2; /* 限制顯示兩行 */
        -webkit-box-orient: vertical; /* 垂直排列子元素 */
    }

    .card-img-top {
        width: 100%; /* 設定圖片的寬度與父容器一致 */
        height: 200px; /* 固定高度 */
        object-fit: cover; /* 圖片裁切填滿容器，保持比例 */
    }
</style>


<div class="container" style="margin-top:130px">
    @if (Model.Data.Count() == 0)
    {
        <h3>沒有符合搜尋條件的結果，請重新查詢</h3>
    }
    else
    {
        <h3>@ViewBag.SearchInput 搜尋結果如下：</h3>
        <input type="hidden" id="originalSearchInput" value="@ViewBag.SearchInput" />
        <div id="paginationContainer">
            <p>總筆數: @Model.PaginationInfo.RecordCount 當前頁碼: @Model.PaginationInfo.PageNumber / @Model.PaginationInfo.Pages</p>
        </div>
        <div>
            @*<label>分類：</label>
            <select id="categoryFilter" onchange="applyFilter()">
                <option value="">全部</option>
                @foreach (var item in uniqueCategory)
                {
                    <option value="@item">@item</option>
                }
            </select>
            <label>出版社：</label>
            <select id="publisherFilter" onchange="applyFilter()">
                <option value="">全部</option>
                @foreach (var item in uniquePublisher)
                {
                    <option value="@item">@item</option>
                }
            </select>
            <label>作者：</label>
            <select id="authorFilter" onchange="applyFilter()">
                <option value="">全部</option>
                @foreach (var item in uniqueAuthor)
                {
                    <option value="@item">@item</option>
                }
            </select>*@

        </div>
        <div class="row justify-content-start" id="resultContainer">
            @foreach (var item in Model.Data)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="card border-1 m-1" style="width: 10rem;">
                        <div class="card-img">
                            <a href="~/Products/ProductDetail/@item.Id">
                                <img src="@item.ImageURL" class="card-img-top img-fluid" alt="...">
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="~/Products/ProductDetail/@item.Id">
                                <h5 class="card-title text-center">@item.Title</h5>
                            </a>
                            <p class="card-text text-center">$ @item.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
        @*分頁列 Start*@
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- Previous Button -->
                @if (Model.PaginationInfo.ShowFirstPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("_PagedResult", new { pageNumber = Model.PaginationInfo.PageNumber - 1, pageSize = Model.PaginationInfo.PageSize, input = @ViewBag.SearchInput})" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }

                <!-- Page Numbers -->
                @for (int i = 1; i <= Model.PaginationInfo.Pages; i++)
                {
                    if (i == Model.PaginationInfo.PageNumber)
                    {
                        <li class="page-item active">
                            <span class="page-link">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("_PagedResult", new { pageNumber = i, pageSize = Model.PaginationInfo.PageSize, input = @ViewBag.SearchInput})">@i</a>
                        </li>
                    }
                }

                <!-- Next Button -->
                @if (Model.PaginationInfo.ShowLastPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("_PagedResult", new { pageNumber = Model.PaginationInfo.PageNumber + 1, pageSize = Model.PaginationInfo.PageSize, input = @ViewBag.SearchInput})" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        @*分頁列 End*@

